UserServices/ProfileProxy/Service References/EfsService/EfsWcfService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Live.Mesh.Service.AsyncQueuePushService.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Live.Mesh.Service.AsyncQueuePushService.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWorkResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkResult" nillable="true" type="tns:WorkResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkResult" nillable="true" type="tns:ArrayOfWorkResult" />
  <xs:complexType name="WorkResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AggregationGroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebugInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeaseExtensionSeconds" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="tns:WorkResultStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkResult" nillable="true" type="tns:WorkResult" />
  <xs:simpleType name="WorkResultStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failure" />
      <xs:enumeration value="ExtendLease" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkResultStatus" nillable="true" type="tns:WorkResultStatus" />
</xs:schema>